#footer{
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upfoot{
    text-align: center;
    margin-top: 84px;
}

.upfoot h3{
    color: white;
    font-size: 20px;
    font-style: italic;
}


.downfoot{
    margin-top: 20px;
}

.downfoot .redes{
    color: white;
}

.downfoot .redes a{
    margin: 5px 15px;
    color: rgb(10, 173, 173);
}

.downfoot .copy{
    color: white;
    margin-top: 50px;
}