#skills {
    background-color: #212529;
    color: white;
    height: 500px;
    margin-bottom: 50px;
}

.skills h1 {
    padding-top: 70px;
    padding-bottom: 50px;
}
.skills h1::first-letter{
    text-decoration: underline rgb(10, 173, 173);
}

.skill .col{
    width: 150px;
    height: 150px;
}

.skill {
    position: relative;
  }
  
  .skill img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
  }
  
  .skill .tech-name {
    position: absolute;
    bottom: -30px;
    left: 45%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7); /* Agrega un fondo para el nombre */
    padding: 5px 10px; /* Agrega un espacio alrededor del nombre */
    border-radius: 5px; /* Agrega bordes redondeados al fondo del nombre */
    width: 100%; /* Asegura que el fondo ocupe todo el ancho */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Cambia el color del texto */
  }
  
  .skill:hover img {
    transform: translateY(-15px);
  }
  
  .skill:hover .tech-name {
    bottom: 10px;
    opacity: 1;
  }

@media (max-width: 425px) {
    .skill img{
        width: 60px;
        height: 60px;
    }
  }

  