* {
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #303335;;
    font-family: 'Mulish', sans-serif;
}

h5 {
    text-decoration: underline;
    font-weight: bold;
}

h2{
    color: #fff;
}